@model ZonaTecnologica.SP_BuscarProveedorResult

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar este proveedor?</h3>
<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

            <div class="form-actions no-color">
            <a class="btn btn-default" href='@Url.Action("index", "Proveedor")'>Regresar</a> |
            <input type="submit" value="Eliminar" class="btn btn-default" />


        </div>
    }
</div>
